<div class="card">
  <div class="card-padding">
    <div *ngIf="!isMilestone; else deadlineTemplate">
      <div class="pb-3">
        <app-label
          label="{{ task.milestone.label }}"
          backgroundColor="{{ getRgb(task.milestone.color) }}"
        ></app-label>
      </div>
      <div class="font-bold font-size-12 pb-3">
        {{ task.description }}
      </div>
      <div class="d-flex align-items-center justify-content-between">
        <div class="font-size-12 font-color-gray">
          {{ getDate(task.deadline) }}
        </div>
        <div *ngIf="task.status === 'todo'" class="d-flex align-items-center">
          <app-actions
            icon="pi-play"
            (onClick)="emitEvent($event)"
          ></app-actions>
          <div class="pl-1">
            <app-actions
              icon="pi-pencil"
              (onClick)="emitEvent($event)"
            ></app-actions>
          </div>
          <div class="pl-1">
            <app-actions
              icon="pi-trash"
              (onClick)="emitEvent($event)"
            ></app-actions>
          </div>
        </div>
        <div *ngIf="task.status === 'inprogress' && !checkPath()">
          <app-actions
            icon="pi-user"
            (onClick)="emitEvent($event)"
          ></app-actions>
        </div>
        <div *ngIf="checkPath() && task.status === 'inprogress'">
          <app-actions
            icon="pi-check"
            (onClick)="emitEvent($event)"
          ></app-actions>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isMilestone || (task.status !== 'todo' && !checkPath())">
    <div class="card-bottom">
      <span
        *ngIf="!task && isMilestone"
        class="card-bottom-text font-size-12 font-bold pointer"
        (click)="emitEvent('pi-more')"
        >see more details</span
      >
      <div
        *ngIf="task && task.status !== 'todo'"
        class="d-flex justify-content-center align-items-center"
      >
        <i class="pi pi-user pr-2"></i>
        <span class="font-size-12 font-bold">{{ task.assignedUser }}</span>
      </div>
    </div>
  </div>
</div>

<ng-template #deadlineTemplate>
  <div class="font-size-14 font-bold">{{ milestone.title }}</div>
  <div class="pt-1">
    <div class="font-size-12">{{ getDate(milestone.deadlineDate) }}</div>
    <div class="font-size-12">{{ milestone.deadlineHour }}</div>
  </div>
  <div class="pt-2">
    <app-label
      label="{{ milestone.label }}"
      backgroundColor="{{ getRgb(milestone.color) }}"
    ></app-label>
  </div>
</ng-template>
