<div class="navbar d-flex justify-content-between">
  <app-logo></app-logo>
  <div class="d-flex align-items-center justify-content-start">
    <div
      class="tab d-flex justify-content-start align-items-center font-size-13 pointer px-3"
      *ngFor="let tab of tabs"
      [class.selected]="currentTab === tab.label"
      [routerLink]="tab.route"
      [style.border-right]="'2px solid var(--color-blue)'"
    >
      {{ tab.label }}
    </div>
    <div class="d-flex off ml-4 pointer" (click)="logout()">
      <i class="pi pi-power-off font-color-white m-auto"></i>
    </div>
  </div>
</div>
