.navbar {
  background-color: #f2f6fa;
}

.tab {
  &:hover {
    opacity: 50%;
  }
  &.selected {
    font-family: "Montserrat Bold";
    pointer-events: none;
  }
}

.off {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  text-align: center;
  background-color: var(--color-dark-blue);
}
