<app-label-page
  label="Submission"
  description="Explain what user can do in this page"
></app-label-page>
<app-actions
  icon="pi-plus"
  [large]="true"
  [position]="true"
  (onClick)="changeStatusModal(true)"
></app-actions>
<div *ngFor="let s of submissions" class="font-size-13">
  <app-separator [label]="s.milestone"></app-separator>
  <div *ngIf="s.submission; else hasNotSubmission" class="sub-bg">
    <div class="d-flex justify-content-end">
      <div
        class="font-color-blue font-bold pointer underline"
        (click)="setCollapse(s.milestone)"
      >
        {{ s.collapse ? " + more details" : "- show less" }}
      </div>
    </div>
    <div class="d-flex align-items-center mb-3">
      <i class="pi pi-file-big mr-2"></i>
      <div>{{ s.submission.file }}</div>
    </div>
    <div *ngIf="!s.collapse" class="d-flex align-items-center mb-3">
      <div class="font-bold mr-3">Version</div>
      <div>{{ s.submission.version }}</div>
    </div>
    <div class="font-bold">
      {{ "Run " + s.submission.validations.length + " validations" }}
    </div>
    <div class="d-flex align-items-center mt-3 mb-3">
      <app-label
        class="pr-2"
        [label]="getResults(s.milestone, 'passed') + ' passed'"
        [backgroundColor]="'rgb(37, 184, 0, 0.3)'"
      ></app-label>
      <app-label
        class="pr-2"
        [label]="getResults(s.milestone, 'error') + ' error(s)'"
        [backgroundColor]="'rgb(255, 35, 21, 0.3)'"
      ></app-label>
      <app-label
        class="pr-2"
        [label]="getResults(s.milestone, 'warning') + ' warning(s)'"
        [backgroundColor]="'rgb(255, 176, 21, 0.3)'"
      ></app-label>
    </div>
    <div *ngIf="!s.collapse">
      <div class="d-flex align-items-center mb-3">
        <div class="font-bold mr-3">Final Grade</div>
        <div>{{ s.submission.finalGrade }}</div>
      </div>
      <div class="d-flex align-items-start mb-3">
        <div class="font-bold mr-3">Comment</div>
        <div>{{ s.submission.comment }}</div>
      </div>
    </div>
    <div class="font-size-12 font-color-gray my-4">
      {{
        getDate(s.submission.submissionDate) +
          " às " +
          s.submission.submissionHour
      }}
    </div>
    <div *ngIf="!s.collapse">
      <app-separator label="Details"></app-separator>
      <div class="mt-4">
        <app-table
          [headerTemplate]="headerTemplate"
          [rowTemplate]="rowTemplate"
          [content]="s.submission.validations"
        ></app-table>
      </div>
    </div>
  </div>
</div>
<app-modal [open]="open" (close)="changeStatusModal(false)"> </app-modal>

<ng-template #headerTemplate>
  <tr>
    <th *ngFor="let header of headersTable">{{ header }}</th>
  </tr>
</ng-template>

<ng-template #rowTemplate let-row>
  <tr>
    <td>{{ row.description }}</td>
    <td>
      <span *ngFor="let artifact of row.artifacts">{{
        getArtifact(artifact)
      }}</span>
    </td>
    <td>{{ row.errorMessage ? row.errorMessage : "-" }}</td>
    <td>
      <div class="d-flex justify-content-center">
        <app-label
          class="pr-2"
          [label]="row.status"
          [backgroundColor]="getColor(row.status)"
        ></app-label>
      </div>
    </td>
  </tr>
</ng-template>

<ng-template #hasNotSubmission>
  <div class="font-color-gray my-4">
    There aren’t submissions in this milestone
  </div>
</ng-template>
