<div class="d-flex align-items-start justify-content-between">
  <div *ngFor="let state of status">
    <app-column label="{{ state.label }}">
      <div *ngFor="let task of tasks | filterByStatus: state.value">
        <app-card
          [task]="task"
          [milestone]="getMilestoneById(task.milestone_id)"
        ></app-card>
      </div>
    </app-column>
  </div>
  <app-column [dark]="true">
    <div *ngFor="let milestone of milestones">
      <app-card [isMilestone]="true" [milestone]="milestone"> </app-card>
    </div>
  </app-column>
</div>

<app-actions icon="pi-plus" [large]="true" [position]="true"></app-actions>
<app-modal [open]="open"> </app-modal>
